.photo-1 {
	background-image: url("../images/image6.jpg");
}

.photo-2 {
	background-image: url("../images/image1.png");
}

.photo-3 {
	background-image: url("../images/image2.png");
}

.photo-4 {
	background-image: url("../images/image3.png");
}

.photo-5 {
	background-image: url("../images/image4.png");
}

.photo-6 {
	background-image: url("../images/image5.png");
}

.face-1 {
  background-image: url("https://images.unsplash.com/photo-1509967419530-da38b4704bc6?auto=format&fit=crop&w=1372&q=80"); }

.face-2 {
  background-image: url("https://images.unsplash.com/photo-1507875165751-e330e59d8675?auto=format&fit=crop&w=1350&q=80");
  background-position: 40% 20%; }

.face-3 {
  background-image: url("https://images.unsplash.com/photo-1507101105822-7472b28e22ac?auto=format&fit=crop&w=1352&q=80");
  background-position: 30% 10%; }
  
.logo-1 {
	background-image: url("../images/logo1.png");
}

.logo-2 {
	background-image: url("../images/logo2.png");
}

.logo-3 {
	background-image: url("../images/logo3.png");
}

.logo-4 {
	background-image: url("../images/logo4.png");
}

.about-pic1 {
	background-image: url("../images/about1.png");
}

.about-pic2 {
	background-image: url("../images/about2.png");
}
.about-pic3 {
	background-image: url("../images/about3.png");
}
.about-pic4 {
	background-image: url("../images/about4.png");
}
.about-pic5 {
	background-image: url("../images/about5.png");
}